@using Shared.Models;
@model ConferenceModel

@*<environment include="Development">
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</environment>*@

<div class="card" id="purpule">
    <div class="card-header">
        <span class="card-title">@Model.Name</span>
    </div>
    <div class="card-body">
        <span>Location: @Model.Location</span><br />
        <span>Start time: @Model.Start</span><br />
        <span>Total attendance: @Model.AttendeeTotal</span>
    </div>
    <div class="card-footer">
        <a asp-action="Index" asp-controller="Proposal" asp-route-conferenceId="@Model.Id" class="btn btn-default">Proposals</a>
    </div>
</div>
